/* Custom CSS variables */

:root {
  --clr-nav: #ffd230;
  --clr-text: #000000;
  --clr-white: #ffffff;
  --clr-text-clicked: #606060;
  --clr-sport-link: #387b12;

  /* sport logo - 34px
body text - 18px

line heights - 34px

font-weights - 400, 700 */

  /* Our color palette is
#FFD22F - Yellow
#387B12 - Green
#606060 - Grey
#000000 - Black */
}

/* Custom Fonts */

@font-face {
  font-family: "BBCReithSansRg", sans-serif;
  src: url(./fonts/BBCReithSerif_A_Rg.ttf) format("truetype");
}

@font-face {
  font-family: "BBCReithSansBld", sans-serif;
  src: url(./fonts/App/BBCReithSans_A_Bd.ttf) format("truetype");
}

/* Custom css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*Global styles*/
body{
  margin-inline: 16px;
  margin-block: -16px;
}

/*Header styles */

header{
  
}
/* Main Navigation styles*/

.nav__main{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem;
  

}

.nav__main__list{
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 8px;
  


}

.nav__icon{
  width: 2.2rem;
}

.main__logo{
  width: 112px;
}

/*Main news styles*/

/*Footer styles*/

h1 {
  font-family: "BBCReithSansBld", sans-serif;
  font-size: 34px;
  margin-left: 6px;
  color: var(--clr-text);
}
